html, body {height:100%;}
img {
    max-width: 100%;
}
.navbar-toggler{
    color: white;
}
.section-content {
    padding: 5rem 0;
}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    text-align: left;
    padding-bottom: 2.5rem;
    position:relative;
	bottom:0;
	width:100%;
}
#cover {
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    background: #222 url('../../img/wallpaper-dark-moon.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    min-height:100%;
	position:relative;
}
#cover-cadastro{
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    background: #222 url('../../img/wallpaper-dark-moon.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    display: flex;
}

/* Alterando a cor do placeholder */
.altera-cor-placeholder::-webkit-input-placeholder{ 
    color: white;
}
.altera-cor-placeholder:-moz-placeholder{ 
    color: white;
}
.altera-cor-placeholder::-moz-placeholder{ 
    color: white;
}
.altera-cor-placeholder:-ms-input-placeholder{ 
    color: white;
}
.form-control{
    color: black;
}

/* Centralizar modal na tela */
/*
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; 
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
*/