body {
    height: 100%;
}
img {
    max-width: 100%;
}
.navbar-toggler{
    color: white;
}
.section-content {
    padding: 5rem 0;
}
#cover {
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    /*background: #222 url('../../img/papel-parede.jpg') center center no-repeat;*/
    background-size: cover;
    color: black;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
a{
    color: gray;
}
.area-perfil{
    text-align: left;
}