body {
    height: 100%;
}
img {
    max-width: 100%;
}
.navbar-toggler{
    color: white;
}
.section-content {
    padding: 5rem 0;
}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    text-align: left;
}
#cover {
    padding-top: 8rem;
    padding-bottom: 3.5rem;
    background: #222 url('../../img/papel-parede.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#cover-cadastro{
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    background: #222 url('../../img/tempestade_chegando.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    display: flex;
}
