
html, body {height:100%;}

img {
    max-width: 100%;
}
.navbar-toggler{
    color: white;
}
.section-content {
    padding: 5rem 0;
}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    text-align: left;
    padding-bottom: 5rem;
    position:relative;
	bottom:0;
	width:100%;
}
.jumbotron{
    color: black;
}
#cover {
    padding-top: 7.5rem;
    padding-bottom: 3.5rem;
    background: #222 url('../../img/wallpaper-dark-moon.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    min-height:100%;
	position:relative;
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
.area-perfil{
    text-align: left;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
#area-mapa { 
    height: 400px;
    width: 350px;
}

/* Centralizar modal na tela */
/*
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; 
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
*/